{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ADD
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-add" method="POST" action="/add">
        <h2 class="form-add-heading">Please fill the name field</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.movie_name) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">ADD</button>
      </form>

    </div> <!-- /container -->
{% endblock %}